@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  body {
    @apply bg-bg-primary text-text-primary font-sans antialiased;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    @apply w-full;
  }
}
